* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #262a2f;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar .nav-link {
  color: #ffffff;
  font-size: 1.1em;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #dddddd;
}

.search-box {
  margin-top: 30px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px;
  background: #fff;
  border-radius: 25px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}

.result-box {
  max-height: 200px;
  overflow-y: scroll;
}

.grid-container {
  margin-top: 200px;
  margin-bottom: 40px;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
}

.wishlist-grid-container {
  margin-top: 80px;
  margin-bottom: 40px;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
}

.card {
  padding: 2em;
  border: 1px solid rgb(75, 82, 92);
  border-radius: 10px;
  background: #222429;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 50%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

h2 {
  margin: 10px 0;
}

.description {
  font-size: 1em;
  color: #ccc;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal-content {
  padding: 1em;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  overflow-y: auto;
  max-height: 80%;
  transition: transform 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #333;
}

.modal-content h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
}

.modal-content p {
  color: #666;
  font-size: 1em;
  line-height: 1.6em;
  margin: 0.5em 0;
}

.wishlist-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
}

.wishlist-btn:hover {
  background-color: #ff4c4c;
}

@media (max-width: 768px) {
  .search-box {
    width: 90%;
    margin-top: 30px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .wishlist-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .card {
    padding: 1.5em;
  }

  .modal-content {
    padding: 1em;
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-content h3 {
    font-size: 1.3em;
  }

  .modal-content p {
    font-size: 0.95em;
  }

  .wishlist-btn {
    font-size: 0.95em;
    padding: 8px 16px;
    max-width: 180px;
  }

  .close-btn {
    top: 8px;
    right: 8px;
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .search-box {
    width: 90%;
    margin-top: 30px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .wishlist-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .card {
    padding: 1.5em;
  }

  .modal-content {
    padding: 1em;
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-content h3 {
    font-size: 1.3em;
  }

  .modal-content p {
    font-size: 0.95em;
  }

  .close-btn {
    top: 8px;
    right: 8px;
    font-size: 20px;
  }
  .wishlist-btn {
    font-size: 0.95em;
    padding: 8px 16px;
    max-width: 180px;
  }
}

@media (max-width: 480px) {
  .search-box {
    width: 90%;
    margin-top: 20px;
  }

  .row input {
    font-size: 16px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .wishlist-grid-container {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 1em;
  }

  .modal-content {
    padding: 1em;
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-content h3 {
    font-size: 1.2em;
  }

  .modal-content p {
    font-size: 0.9em;
  }

  .close-btn {
    top: 10px;
    right: 10px;
    font-size: 20px;
  }

  .wishlist-btn {
    font-size: 0.9em;
    padding: 8px 14px;
    max-width: 100%;
  }
}
